JS-PROJECT/Video-App/Assets/

# Ignore the node_modules directory
JS-PROJECT/CRUD-App/node_modules/
JS-PROJECT/CRUD-App/package-lock.json
JS-PROJECT/user-app/node_modules/
JS-PROJECT/user-app/package-lock.json
REACT-PROJECT/my-app
REACT-PROJECT/practiceApp
REACT-PROJECT/ecommerce-web-client